/* Coursepage.css */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #f9f9f9; */
}

.courses-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar {
    width: 100%;
    /* background-color: #fff; */
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar button {
    background-color: #dd5c3f;
    /* color: #fff; */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #db8875;
}

.sidebar button:active {
    background-color: #004080;
}

.courses-content {
    width: 100%;
    max-width: 1200px;
}

.courses-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    font-size: 28px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0;
    margin-bottom: 40px;
}

.courses-grid p {
    grid-column: span 3;
    text-align: center;
    color: #666;
}

.course-card {
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.course-card:hover {
    /* transform: translateY(-5px); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.course-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.course-card h3 {
    margin: 10px 0;
    color: #444;
}

.course-card p {
    color: #777;
    font-size: 14px;
    text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {
    .courses-page {
        padding: 10px;
    }

    .sidebar {
        padding: 10px;
    }

    .courses-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .sidebar button {
        width: 100%;
        max-width: 200px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .courses-grid {
        grid-template-columns: 1fr;
    }

    .courses-content h2 {
        font-size: 23px;
        text-align: center;
    }

    .course-card {
        padding: 0px;
    }
}